<div class="jumbotron">
  <div class="container">
	<div class="row">
	  <div class="col-sm-12">
		<h1>Sunwatch</h1>
		<p>an application for finding out the weather</p>
	  </div>
	</div>
  </div>
</div>
